version: '2.1'
orbs:
  matlab: mathworks/matlab@0
jobs:
  build:
    machine:
      image: ubuntu-2204:2022.07.1
    steps:
      - checkout
      - matlab/install
      - run: git clone https://github.com/mobeets/mpm.git mpm_clone
      - run: cd mpm_clone
      - matlab/run-command:
          command: results = runtests('./tests/TestMatlabEssentialsKit.m'); assertSuccess(results);
